@import "tailwindcss";
@plugin "tailwindcss-animate";
:root {
  --color-background: #f0f8fa;
  --color-foreground: #0f172a;
  --color-primary: #1A75FF; /* Use Tailwind blue-500 */
  --color-primary-foreground: #ffffff;
  --color-secondary: #2f3375;
  --color-secondary-foreground: #ffffff;
  --color-supporting-1: #66c9d9;
  --color-supporting-2: #007c8f;
  --color-complementary-1: #c66400;
  --color-complementary-2: #c69000;
}

.bg-background {
  background-color: var(--color-background);
}

.text-foreground {
  color: var(--color-foreground);
}

.bg-primary {
  @apply bg-blue-500; /* Tailwind Blue */
}

.text-primary {
  color: var(--color-primary); /* Custom Primary */
}

.bg-primary-foreground {
  background-color: var(--color-primary-foreground);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-secondary-foreground {
  background-color: var(--color-secondary-foreground);
}

.bg-supporting-1 {
  background-color: var(--color-supporting-1);
}

.bg-supporting-2 {
  background-color: var(--color-supporting-2);
}

.bg-complementary-1 {
  background-color: var(--color-complementary-1);
}

.bg-complementary-2 {
  background-color: var(--color-complementary-2);
}

@layer base {
  * {
  }
  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
  }
}

.sx-react-calendar-wrapper {
  width: 1200px;
  max-width: 62vw;
  height: 800px;
  max-height: 95vh;
  margin-right: 12px;
}
/* Custom CSS to ensure events are displayed under each other in month, day, and week views */
.sx-calendar-month-grid-day-events,
.sx-calendar-day-view-events,
.sx-calendar-week-view-events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .sx-react-calendar-wrapper {
    margin: auto;
    max-width: 95vw;
    margin-top: 18px;
  }
}
