@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --color-background: #F0F8FA;
  --color-foreground: #0F172A;
  --color-primary: #00ABC6;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #2F3375;
  --color-secondary-foreground: #FFFFFF;
  --color-supporting-1: #66C9D9;
  --color-supporting-2: #007C8F;
  --color-complementary-1: #C66400;
  --color-complementary-2: #C69000;
}

@layer base {
  * {
  }
  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
  }
}
