@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --color-background: #f0f8fa;
  --color-foreground: #0f172a;
  --color-primary: #00abc6;
  --color-primary-foreground: #ffffff;
  --color-secondary: #2f3375;
  --color-secondary-foreground: #ffffff;
  --color-supporting-1: #66c9d9;
  --color-supporting-2: #007c8f;
  --color-complementary-1: #c66400;
  --color-complementary-2: #c69000;
}

@layer base {
  * {
  }
  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
  }
}

.sx-react-calendar-wrapper {
  /* width: 1200px;
  max-width: 90vw; */
  height: 800px;
  max-height: 95vh;
}
/* Custom CSS to ensure events are displayed under each other in month, day, and week views */
.sx-calendar-month-grid-day-events,
.sx-calendar-day-view-events,
.sx-calendar-week-view-events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
